@using StruCal.Helpers;
@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Welcome to the Section Properties Calculator</h2>
    <br />
    <h5>
        The calculator provides section properties such as
        area, centre of gravity, moments of inertia of the sections with any custom sections.
        It is reliable, fast and avilable anytime and anywhere.
    </h5>
    <br />
    <div class="pill-content">
        <ul class="nav nav-pills">
            <li role="presentation" class="@Html.IsActive("CustomSection","SectionProperties")">@Html.ActionLink("Custom","CustomSection","SectionProperties")</li> @*<a data-toggle="tab" href="#results">Custom</a></li>*@
            <li role="presentation" class="@Html.IsActive("RectangularSection","SectionProperties")">@Html.ActionLink("Rectangular", "RectangularSection", "SectionProperties")</li> @*<a data-toggle="tab" href="#results">Rectangular</a></li>*@
            <li role="presentation"><a data-toggle="tab" href="#results">Circular</a></li>
            <li role="presentation"><a data-toggle="tab" href="#results">T-Section</a></li>
            <li role="presentation"><a data-toggle="tab" href="#results">I-Section</a></li>
        </ul>
    </div>
    <br />
    @RenderBody()
    
</div>

@Scripts.Render("~/bundles/svg")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/drawing")

