@using StruCal.Helpers;
@model StruCal.ViewModels.ISectionPropertiesViewModel
@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <hr />
    <hr />
    <hr />
    <h2>Welcome to the Section Properties Calculator</h2>
    <h4>
        The calculator provides section properties such as
        area, centre of gravity, moments of inertia of the sections with any custom sections.
        It is reliable, fast and avilable anytime and anywhere.
    </h4>
    <div class="panel with-nav-tabs panel-default">
        <div class="panel-heading">
            <ul class="nav nav-tabs">
                <li @*role="presentation"*@ class="@Html.IsActive("CustomSection","SectionProperties")">@Html.ActionLink("Custom", "CustomSection", "SectionProperties")</li> @*<a data-toggle="tab" href="#results">Custom</a></li>*@
                <li @*role="presentation"*@ class="@Html.IsActive("RectangularSection","SectionProperties")">@Html.ActionLink("Rectangular", "RectangularSection", "SectionProperties")</li> @*<a data-toggle="tab" href="#results">Rectangular</a></li>*@
                <li @*role="presentation"*@ class="@Html.IsActive("CircularSection","SectionProperties")">@Html.ActionLink("Circular", "CircularSection", "SectionProperties")</li>
                <li @*role="presentation"*@ class="@Html.IsActive("TSection","SectionProperties")">@Html.ActionLink("T-Section", "TSection", "SectionProperties")</li>
                <li @*role="presentation"*@ class="@Html.IsActive("ISection","SectionProperties")">@Html.ActionLink("I-Section", "ISection", "SectionProperties")</li>
            </ul>
        </div>

        <div class="panel-body">
            @RenderBody()
        </div>
    </div>
    @if (ViewBag.HasResult)
    {
        @Html.Partial("_ResultsPartial", Model)
    }

</div>
    @Scripts.Render("~/bundles/svg")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/drawing")
    @Scripts.Render("~/bundles/sectionProperties")
    @*@Scripts.Render("~/bundles/PanelTabs")*@
    
<link href="~/Content/PanelTabs.css" rel="stylesheet" />
