@model StruCal.ViewModels.ISectionViewModel
@{
    ViewBag.Title = "Index";
    Layout = "_SectionPropertiesLayout.cshtml";
}

<p class="text-justify">
    Please provide the height of the section, width of the top and the bottom flange and thickness of the web, the top and the bottom flange.
</p>
<br />
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm())
            {
            @Html.AntiForgeryToken()

            <div id="inputForms">
                @Html.Partial("_ValidationPartial")
                <div class="form-group">
                    @Html.LabelFor(model => model.Height, new { @class = "control-label" })
                    @Html.EditorFor(model => model.Height, new { htmlAttributes = new { @class = "form-control"} })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.WebThickness, new { @class = "control-label" })
                    @Html.EditorFor(model => model.WebThickness, new { htmlAttributes = new { @class = "form-control"} })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.TopFlangeThickness, new { @class = "control-label" })
                    @Html.EditorFor(model => model.TopFlangeThickness, new { htmlAttributes = new { @class = "form-control"} })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.TopFlangeWidth, new { @class = "control-label" })
                    @Html.EditorFor(model => model.TopFlangeWidth, new { htmlAttributes = new { @class = "form-control"} })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.BottomFlangeThickness, new { @class = "control-label" })
                    @Html.EditorFor(model => model.BottomFlangeThickness, new { htmlAttributes = new { @class = "form-control"} })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.BottomFlangeWidth, new { @class = "control-label" })
                    @Html.EditorFor(model => model.BottomFlangeWidth, new { htmlAttributes = new { @class = "form-control", @placeholder = "5" } })
                </div>
                <div class="form-group">
                    <input id="runButton" type="submit" value="Run" class="btn btn-primary" />
                </div>
            </div>
        }
    </div>
    <div class="col-md-8">
        <div id="canvas">

        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        getISection();
    });
</script>