@model StruCal.ViewModels.RectangularSectionViewModel
@{
    ViewBag.Title = "Index";
    Layout = "_SectionPropertiesLayout.cshtml";
}

<p class="text-justify">
    
</p>
<br />
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm())
            {
            @Html.AntiForgeryToken()

            <div id="inputForms">
                @if (ViewBag.InputErrors)
                {
                    <div class="form-group">
                        <div class="alert alert-danger" role="alert">
                            <p>The provided input data is invalid.</p>
                        </div>
                    </div>
                }
                <div class="form-group">
                    @Html.LabelFor(model => model.Width, new { @class = "control-label" })
                    @Html.EditorFor(model => model.Width, new { htmlAttributes = new { @class = "form-control", @placeholder = "10;20;30;" } })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Height, new { @class = "control-label" })
                    @Html.EditorFor(model => model.Height, new { htmlAttributes = new { @class = "form-control", @placeholder = "10;20;30;" } })
                </div>

                <div class="form-group">
                    <input id="runButton" type="submit" value="Run" class="btn btn-primary" />
                </div>
            </div>
        }
    </div>
    <div class="col-md-8">
        <div id="canvas">

        </div>
    </div>
</div>
@Html.Partial("_ResultsPartial", Model)

