@{
    ViewBag.Title = "RCBeam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>RCBeam</h2>

<div class="container-fluid" ng-app="rcBeam">

    <h2>Reinforced concrete members calculator</h2>
    <br />
    <div class="panel panel-default">
        <!-- Trigger the modal with a button -->
        <div class="panel-heading">
            <h3 class="panel-title">Control panel</h3>
        </div>
        <div class="panel-body">
            <div class="form-inline">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalCoefficients">Coefficients</button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalConcrete">Concrete</button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalSteel">Steel</button>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sections <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a data-toggle="modal" href="#modalRectangularSection">Rectangular</a></li>
                        <li><a data-toggle="modal" href="#modalCircularSection">Circular</a></li>
                        <li><a data-toggle="modal" href="#modalCustomSection">Custom</a></li>
                    </ul>
                </div>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalLoads">Loads</button>
            </div>
            <br />
            <div>
                @Html.Partial("_ControlPanel")
            </div>
        </div>
    </div>
    <div class="row equal-panel">
        @*left panel*@
        <div class="col-md-3" >
            @*<div class="panel-group">*@
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Input</h3>
                    </div>
                    <div class="panel-body">
                        @Html.Partial("_InputPanel")
                    </div>
                </div>
            @*</div>*@
        </div>
        <div class="col-md-4">
            @*<div class="panel-group">*@
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Section</h3>
                    </div>
                    <div class="panel-body">
                        @Html.Partial("_DrawingPanel")
                    </div>
                </div>
            @*</div>*@
        </div>
        <div class="col-md-5">
            @*<div class="panel-group">*@
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Results</h3>
                    </div>
                    <div class="panel-body">
                        @Html.Partial("_ResultPanel")
                    </div>
                </div>
            @*</div>*@
        </div>
    </div>
    <div class="row">
        <div class="col-md-9 col-md-offset-3">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Detailed Results</h3>
                    </div>
                    <div class="panel-body">
                        @Html.Partial("_DetailedResultPanel")
                    </div>
                </div>
            </div>
        </div>
    </div>

@Html.Partial("_CoefficientsModal")
@Html.Partial("_ConcreteModal")
@Html.Partial("_SteelModal")
@Html.Partial("_LoadsModal")
@Html.Partial("_RectangularSectionModal")
@Html.Partial("_CircularSectionModal")
@Html.Partial("_CustomSectionModal")

</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
<script src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML-full'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-chart.js/1.1.1/angular-chart.min.js"></script>

<script src="~/Scripts/progressBar.js"></script>
<script src="~/Scripts/RcBeam/progress.js"></script>

@Scripts.Render("~/bundles/svg")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/drawing")
@Scripts.Render("~/bundles/rcBeam")
@Styles.Render("~/Content/angular")

