@model StruCal.ViewModels.ConcreteCoverViewModel

@{
    ViewBag.Title = "Concrete Cover";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container">

        <h2>Concrete cover calculator</h2>
        <br />

        <div class="row">
            <div class="col-xs-4 text-left">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Rebars properties</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group" data-toggle="tooltip" title="Select rebars diameter.">
                                @Html.LabelFor(model => model.RebarDiameterSelectList, new { @class = "control-label" })
                                @Html.DropDownListFor(x => x.SelectedRebarDiameter,
                                Model.RebarDiameterSelectList,
                                new { @class = "form-control" })
                            </div>
                            <div class="form-group" data-toggle="tooltip" title="Select type of the rebars arrangement (PN-EN 1992-1-1 Table 4.2).">
                                @Html.LabelFor(model => model.ArrangementOfBarsSelectList, new { @class = "control-label" })
                                @Html.DropDownListFor(x => x.SelectedArrangementOfBars,
                                Model.ArrangementOfBarsSelectList,
                                new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-4 text-left">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Concrete properties</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group" data-toggle="tooltip" title="Select concrete class (PN-EN 1992-1-1 Table 3.1).">
                            @Html.LabelFor(model => model.ConcreteClassSelectList, new { @class = "control-label" })
                            @Html.DropDownListFor(x => x.SelectedConcreteClass,
                            Model.ConcreteClassSelectList,
                            new { @class = "form-control" })
                        </div>
                        <div class="form-group" data-toggle="tooltip" title="Select exposure class (PN-EN 1992-1-1 Table 4.1).">
                            @Html.LabelFor(model => model.ExposureClassSelectList, new { @class = "control-label" })
                            @Html.DropDownListFor(x => x.SelectedExposureClass,
                            Model.ExposureClassSelectList,
                            new { @class = "form-control" })
                        </div>
                        <div class="form-group" data-toggle="tooltip" title="Select base structural class (PN-EN 1992-1-1 4.4.1.2 (5)).">
                            @Html.LabelFor(model => model.BaseStructuralClassSelectList, new { @class = "control-label" })
                            @Html.DropDownListFor(x => x.SelectedBaseStructuralClass,
                            Model.BaseStructuralClassSelectList,
                            new { @class = "form-control" })
                        </div>
                        <div class="checkbox" data-toggle="tooltip" title="Specify whether nominal maximum aggregate size is greater than 32mm (PN-EN 1992-1-1 Table 4.2).">
                            <label><input type="checkbox" value="" id="NominalMaximumAggregateSizeIsGreaterThan32mmCheckbox">Is nominal maximum aggregate size is greater than 32mm?</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Structure properties</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="checkbox" data-toggle="tooltip" title="Specify whether design working life is greater then 100 years (PN-EN 1992-1-1 Table 4.3N).">
                                @Html.LabelFor(model => model.DesignWorkingLifeOf100Years, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.DesignWorkingLifeOf100Years)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox" data-toggle="tooltip" title="Specify whether member has slab geometry (PN-EN 1992-1-1 Table 4.3N).">
                                @Html.LabelFor(model => model.MemberWithSlabGeometry, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.MemberWithSlabGeometry)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox" data-toggle="tooltip" title="Specify whether special quality control of the concrete production is ensured (PN-EN 1992-1-1 Table 4.3N).">
                                @Html.LabelFor(model => model.SpecialQualityControlOfTheConcreteProductionEnsured, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.SpecialQualityControlOfTheConcreteProductionEnsured)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-xs-12">
                <div class="panel panel-info">
                    <div class="panel-heading" data-toggle="tooltip" title="Click button to see additional properties.">
                        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#CollapseAdditionalProperties">Additional properties</button>
                        <div id="CollapseAdditionalProperties" class="collapse">
                            <div class="panel-body">
                                @Html.LabelFor(model => model.AdditiveSafetyElement, htmlAttributes: new { @class = "control-label" })
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group form-inline" data-toggle="tooltip" title="Specify additive safety element (PN-EN 1992-1-1 4.4.1.2 (6)).">
                                    @Html.EditorFor(model => model.AdditiveSafetyElement, new { htmlAttributes = new { @class = "form-control", @placeholder = "0 mm" } })
                                    @Html.ValidationMessageFor(model => model.AdditiveSafetyElement, "", new { @class = "text-danger" })
                                    [mm]
                                </div>
                                @Html.LabelFor(model => model.ReductionOfMinimumCoverForUseOfStainlessSteel, htmlAttributes: new { @class = "control-label" })
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group form-inline" data-toggle="tooltip" title="Specify reduction of minimum cover for use of stainless steel (PN-EN 1992-1-1 4.4.1.2 (7)).">
                                    @Html.EditorFor(model => model.ReductionOfMinimumCoverForUseOfStainlessSteel, new { htmlAttributes = new { @class = "form-control", @placeholder = "0 mm" } })
                                    @Html.ValidationMessageFor(model => model.ReductionOfMinimumCoverForUseOfStainlessSteel, "", new { @class = "text-danger" })
                                    [mm]
                                </div>
                                @Html.LabelFor(model => model.ReductionOfMinimumCoverForUseOfAdditionalProtection, htmlAttributes: new { @class = "control-label" })
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group form-inline" data-toggle="tooltip" title="Specify reduction of minimum cover for use of additional protection (PN-EN 1992-1-1 4.4.1.2 (8)).">
                                    @Html.EditorFor(model => model.ReductionOfMinimumCoverForUseOfAdditionalProtection, new { htmlAttributes = new { @class = "form-control", @placeholder = "0 mm" } })
                                    @Html.ValidationMessageFor(model => model.ReductionOfMinimumCoverForUseOfAdditionalProtection, "", new { @class = "text-danger" })
                                    [mm]
                                </div>
                                @Html.LabelFor(model => model.AllowanceInDesignForDeviation, htmlAttributes: new { @class = "control-label" })
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group form-inline" data-toggle="tooltip" title="Specify whether deviation in design is allowed (PN-EN 1992-1-1 4.4.1.3).">
                                    @Html.EditorFor(model => model.AllowanceInDesignForDeviation, new { htmlAttributes = new { @class = "form-control", @placeholder = "5 mm" } })
                                    @Html.ValidationMessageFor(model => model.AllowanceInDesignForDeviation, "", new { @class = "text-danger" })
                                    [mm]
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-xs-12">
                <input type="submit" id="CalculateButton" value="Calculate" class="btn btn-primary scrollTo" data-toggle="tooltip"
                        title="Click to calculate concrete cover.">
            </div>
        </div>
        <br />

        <div class="row  text-center">
            <div class="col-xs-12">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 data-toggle="tooltip" id="NominalCover" title="Calculated nominal cover (PN-EN 1992-1-1 Eq. 4.1).">
                            <b>
                                @Html.LabelFor(model => model.NominalCover) @Model.NominalCover [mm]
                            </b>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <p class="control-label form-horizontal" data-toggle="tooltip" title="Calculated structural class (PN-EN 1992-1-1 Table 4.4N, 4.5N).">
                            @Html.LabelFor(model => model.StructuralClass, new { @class = "control-label" })
                            <label class="control-label">@Model.StructuralClass</label>
                        </p>
                        <p class="control-label form-horizontal" data-toggle="tooltip" title="Calculated minimum cover due to bond requirement (PN-EN 1992-1-1 4.4.1.2(3)).">
                            @Html.LabelFor(model => model.MinimumCoverDueToBondRequirement, new { @class = "control-label" })
                            <label class="control-label">@Model.MinimumCoverDueToBondRequirement [mm]</label>
                        </p>
                        <p class="control-label form-horizontal" data-toggle="tooltip" title="Calculated minimum cover due to environmental conditions (PN-EN 1992-1-1 4.4.1.2(5)).">
                            @Html.LabelFor(model => model.MinimumCoverDueToEnvironmentalConditions, new { @class = "control-label" })
                            <label class="control-label">@Model.MinimumCoverDueToEnvironmentalConditions [mm]</label>
                        </p>
                        <p class="control-label form-horizontal" data-toggle="tooltip" title="Calculated minimum cover (PN-EN 1992-1-1 Eq. 4.2).">
                            @Html.LabelFor(model => model.MinimumCover, new { @class = "control-label" })
                            <label class="control-label">@Model.MinimumCover [mm]</label>
                        </p>
                    </div>
                </div>
            </div>
        </div>
</div>
}