<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - simpledesign</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <!--Add Roboto font-->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,400italic,500italic&subset=latin,latin-ext' rel='stylesheet'>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse" data-target="#mainmenu"
                        aria-expanded="false">
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">simple<strong>design</strong></a>
            </div>

            <div class="navbar-collapse collapse navbar-right mainmenu" id="mainmenu">
                <ul class="nav navbar-nav">
                    <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Demo", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">Calculators<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Section properties", "Index", "SectionProperties")</li>
                            <li>@Html.ActionLink("Concrete Cover", "Index", "ConcreteCover")</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("Fajny separator", " ", " ")</li>
                        </ul>
                    </li>
                    <li><a href="#" class="btn btn-default">Buy</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        @RenderBody()
    </div>
    <br />
    <div class="container footer">
        <div class="row">
            <div class="col-xs-12">
                <p>&copy; @DateTime.Now.Year simple<strong>design</strong>. All rights reserved.</p>
            </div>
        </div>
    </div>
</body>
</html>
